@charset "ISO-8859-1";

html, body {
	padding-left: 2px;
	padding-right: 2px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

* {
    /*background-image: url('../images/gta.jpg');*/
    background-image: url('../images/Toronto-skyline-500x258.jpg');
}

h1 {
    font-family: 'Arial';
    text-align: center;
    color:red;
    background:transparent;
}

label {
	color: yellow;
	font-family: 'Arial';
	font-size: 16px;
	padding: 4px;
	border-radius: 20px;
}

.high, .low {
	color: red;
	border-radius: 20px;
	font-family: 'Arial';
	font-size: 14px;
	padding: 4px;
}

.button {
	padding: 4px;
	font-family: 'Arial';
	font-size: 16px;
	color: red;	
	border-radius: 10px;
}

.home-link{
    font-family: 'Arial';
    font-size: 14px;
    color:red;
}

#status {
    font-family: 'Courier New';
    color: yellow;
    text-align: left;
    background:transparent;
}

.tablealign {
	overflow-y: auto;
	height: 500px;
    width: auto;
    background:transparent;
    scrollbar-width: none; /* Firefox */
}

.tablealign::-webkit-scrollbar{
	display:none; /* Chrome, Safari, Opera */
}

.table1 {
    border-collapse: collapse;
    background:transparent;
}

th {
    padding: 2px;
    text-align: left;
    border: 2px solid yellow;
    background: yellow;
    color: black;
    font-family: 'Arial';
	font-size: 14px;
	width: fit-content;
}

td {
    padding-left: 4px; 
    padding-right: 4px;
    border: 1px solid grey;
    color: yellow;
    font-family: 'Arial';
	font-size: 12px;
	width: fit-content;
}

thead {
    position:sticky;
    top: 0;
    left: 0;
    border: 2px solid yellow;
   }

tbody thead th {
    display: block;
    overflow: auto;
    color: yellow;
}
a {
	color: yellow;
	font-family: 'Arial';
	font-size: 12px;
	background:transparent;
}
