@charset "ISO-8859-1";

html, body {
	padding-left: 2em;
	font-family: Georgia, Arial, serif, "Comic Sans MS";
	/*background-color: black;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

* {
    background-image: url('../images/gta.jpg');
    font-family: 'Verdana';
}

h1 {
    font-family: 'Arial';
    text-align: center;
    color:red;
}

h2 {
    font-family: 'Arial';
    text-align: center;
    color:red;
}

label {
	color: yellow;
}

.high, .low {
	color: red;
}

.button {
	font-family: 'Arial';
	font-size: 16px;
	color: red;	
}

.home-link{
    font-family: 'Arial';
    color:red;
}

#test {
    font-family: 'Courier New';
    color: yellow;
}

.tablealign {
    /*float: right;*/
   /*padding-left: 2%;
    /*padding-right: 10%;*/
    /*width: 50%;*/
    /*height: 400px;*/
    height: auto;
    /*border-radius: 3px;*/
    /*padding-bottom: 50px;*/
}

tbody {
	 font-size:  12px;
	 color: yellow;
	 overflow-y: scroll;
    /*overflow-x: hidden;*/
    height: auto;
 }

tr, td {
	text-align: left;
}

thead{
		 text-align: left;
		 font-size:  12px;
		 font-weight: bold;
		 color: yellow;
		 display: table-header-group;
}

.tfoot {
	font-size: 10px;
	text-align: Center;
	color: yellow;
}

a {
	color: yellow;
}
