@charset "ISO-8859-1";

html, body {
	padding-left: 2em;
	font-family: Georgia, Arial, serif, "Comic Sans MS";
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

* {
    background-image: url('../images/gta.jpg');
    font-family: 'Verdana';
    color:red;
}

h1 {
    font-family: 'Arial';
    text-align: center;
}

h2 {
    font-family: 'Arial';
    text-align: center;
}

p {
    color:red;
}

.frame1 {
    border: none;
}

.home-link{
    font-family: 'Arial';
    text-align: center;
}

.p_test {
    font-family: 'Courier New';
    color: black;
}

.row_test, .row_test2 {
    font-family: 'Arial';
    font-size: small;
    color:red;
 }